.first-slide{
    background: url("img/bg/mybg.jpeg") no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    text-align: center;
   
}
.navbar-light{
    color: rgb(204, 5, 5);
    font-weight: 500;

}

.nav-item a{
    color: black;
    font-size: 18px;
} 
.navbar-brand{ 
    color: aliceblue;
    font-weight: 500;
    
}
.navbar-brand:hover{
    color: rgb(71, 22, 22);
}
.dropdown .dropdown-menu{
    background-color: rgb(181 176 157);
    border-radius: 12px;
    width: fit-content;
    margin: auto;
    display: none;
}
.nav-item ul li a:hover{
   
    border-radius: 12px;
}
.dropdown-menu li a{
    font-size: 16px;
}
.navbar-collapse{
    text-align: center;
}
.navbar-nav{
    
    margin:auto;
}

/* Heading-baner */

.heading-banner{
    display: flex;
    width: 35vw;
    flex-wrap: wrap;
    border: 2px solid black;display: inline-block;
    padding: 10px; 
    border-radius: 10px;
    position: absolute;
    top: 30%;
    right: 15%;
   background-color: darkgray   ;
   font-size: 22px;

   
}
.buttons{
    display: flex;
    justify-content: center;
}
.buttons button{
    padding: 6px;
    background-color:darkcyan;
    color: white;
    border-radius: 9px;
}